* {
    margin: 0;
    padding: 0;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared Styles */
.text-primary {
    color: #FD6E0A;
}

.dark1 {
    color: #181818;
}

.dark2 {
    color: #474747;
}

.dark3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;

}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-center {
    text-align: center;
}

/*Header*/
.header {
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/*Nav style*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 51px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*Banner styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585;
    height: 356;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
}

.banner-profile-pic {
    width: 584px;
    height: 676px;
}

/*Main styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*About section*/
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-content-section {
    max-width: 827px;
    max-height: 388px;
    background-color: white;
    border: 2px solid black;
}

.about-section-description {
    margin: 30px 0;
}

.about-items {
    display: flex;
    justify-content: space-around;

}

.item-title {
    color: #757575;
}

.item-description {
    font-weight: 600;
    color: #474747;
}

/* Skills Section style*/
.section-description {
    padding: 0 115px;
    margin-top: 30px;
}

.skills-contailer {
    display: flex;
    gap: 24px;

}

.skill {
    max-width: 267px;
    max-height: 377px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill img {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}

.skill-description {
    margin-top: 20px;
}

/*Resume Section*/
.section-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience-description {
    color: #757575;
}

.resume hr {
    margin: 30px 5px;
}

.resume-download-cv {
    margin-top: 50px;
}

/*Footer Style*/
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 113px;
}

.footer-section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 18px;
}

.footer-section-description {
    font-size: 16px;
    color: #474747;
}

.footer-column {
    width: 50%;
}

.footer-social-icons {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.footer-column input[type="text"],
.footer-column input[type="email"],
.footer-column textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    margin-bottom: 24px;
    border: none;
}

.footer-column textarea {
    height: 180px;
}